html {
  width: 100%;
  height: 100%;
}

body.page-index {
  width: 100%;
  height: 100%;

  background-color: #ccc;

  overflow: hidden;

  .wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
  }

  .container {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
  }

  .elm-canvas {
    position: absolute;

    left: 0;
    top: 0;

    background-color: white;
  }

  .ctrl-field {
    position: absolute;

    left: 0;
    top: 0;

    line {
      stroke: #000;
      stroke-width: 2;
    }

    .start-pt {
      r: 5;
      stroke: black;
      stroke-width: 2;
      fill: white;
    }

    .end-pt {
      r: 5;
      stroke: black;
      stroke-width: 2;
      fill: white;
    }
  }

  .panel {
    position: absolute;

    left: 10px;
    top: 10px;

    .snap {
      width: auto;

      margin-left: 20px;
    }

    .preset {
      display: block;
    }
  }

  .footer {
    .list-share {
      position: absolute;

      right: 10px;
      bottom: 10px;

      font-size: 0;

      .item {
        display: inline-block;

        + .item {
          margin-left: 10px;
        }
      }
    }
  }
}
