extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  main
    .container
      canvas.elm-canvas
      svg.ctrl-field(xmlns="http://www.w3.org/2000/svg")

    .panel
      button.btn-add-generator
        | ジェネレーター追加
      label
        input(type="checkbox", data-js-class="snap")
        | グリッドにスナップ
