extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  main
    .container
      canvas.elm-canvas
      svg.ctrl-field(xmlns="http://www.w3.org/2000/svg")

    .panel
      button.btn-add-generator#btn-add-generator
        i.fa.fa-plus(aria-hidden="true")
      .mdl-tooltip(data-mdl-for="btn-add-generator")
        | ジェネレーター追加

      button#btn-edit
        i.fa.fa-mouse-pointer(aria-hidden="true")
      .mdl-tooltip(data-mdl-for="btn-edit")
        | 頂点編集

      label.snap.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-snap")
        input.mdl-checkbox__input#checkbox-snap(type="checkbox", data-js-class="snap")
        span.mdl-checkbox__label
          | グリッドにスナップ

      .preset.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-select(data-js-class="preset")
        input#preset__input.mdl-textfield__input(type="text", data-js-class="preset__input")
        label.mdl-textfield__label
          | プリセット
        ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for="preset__input", data-js-class="preset__list")
          //- li.mdl-menu__item 選択肢1
          //- li.mdl-menu__item 選択肢2
          //- li.mdl-menu__item 選択肢3
          //- li.mdl-menu__item 選択肢4
