extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  main
    .container
      canvas.elm-canvas
      svg.ctrl-field(xmlns="http://www.w3.org/2000/svg")

    .panel
      button.btn-add-generator
        | ジェネレーター追加
      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="mdl-checkbox__input")
        input.mdl-checkbox__input#checkbox-snap(type="checkbox", data-js-class="snap")
        span.mdl-checkbox__label
          | グリッドにスナップ
      select(data-js-class="preset")
