extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  main
    .container
      svg.ctrl-canvas(xmlns="http://www.w3.org/2000/svg", width="256", height="256", viewBox="0 0 256 256")
